<%= simple_form_for :image_request, url: ai_images_path do |f| %>
  <div class="form-group">
    <%= f.text_area :prompt, class:'form-control' %>
  </div>
  <%= f.submit "Submit", class:'btn btn-outline-secondary' %>
<% end %>